<div class="product_table">
    <div class="product_table_row table_head">
        <div class="product_table_cell first_table_cell">
            <p>Image of the Product</p>
        </div>
        <div class="product_table_cell">
            <p>Name of the Product</p>
        </div>
        <div class="product_table_cell">
            <p>Price of the Product</p>
        </div>
        <div class="product_table_cell">
            <p>Operations</p>
        </div>
    </div>
    {{#each Products}}
    <div class="product_table_row last_cell">
        <div class="product_table_cell first_table_cell">
            <p><img style="width: 100px;" src="/product_images/{{this._id}}.png" alt={{this.Name}}></p>
        </div>
        <div class="product_table_cell">
            <p>{{this.Name}}</p>
        </div>
        <div class="product_table_cell">
            <p>{{this.Price}}</p>
        </div>
        <div class="product_table_cell">
            <p>
                <a href="#"><i style="font-size: 20px;" class="bx bxs-edit"></i></a>
                &nbsp;
                <a href="/admin/delete_product/{{this._id}}" onclick="return confirm('Do you want to delete {{this.Name}}')"><i style="font-size: 20px;" class="bx bxs-trash"></i></a>
            </p>
        </div>
    </div>
    {{/each}}
</div>