{{!-- ============= This is our products page =========== --}}
<main class="product bd-grid">
    {{!-- --------------------- --}}
    {{#each Products}}
    <article class="product_card">
        <div class="product_card_img">
            <img src=/product_images/{{this._id}}.png alt={{this.Name}}>
        </div>
        <div class="product_card_name">
            <p>{{this.Name}}</p>
        </div>
        <div class="product_card_info">
            <button style="padding: 10px; font-size: 15px; cursor: pointer;"><i class='bx bx-heart'></i></button>
            <div>
                <span class="product_card_price"><i class='bx bx-rupee'></i>{{this.Price}}</span>
            </div>
            <button onclick="addToCart('{{this._id}}')" style="padding: 10px; font-size: 15px; cursor: pointer;"><i
                    class='bx bx-cart-alt'></i></button>
        </div>
    </article>
    {{/each}}
    {{!-- ---------------------------- --}}
</main>


<script>
    // * ======================= Add To Cart ====================
    function addToCart(product_id) {
        $.ajax({
            url: '/add_to_cart/' + product_id,
            method: "get",
            success: (response) => {
                if(response){
                    
                }
            }
        });
    };
</script>